
/*** @font-face declarations ***/
@font-face {
	font-family: 'Pouf V0.2';
	src: url("../fonts/PoufV02-Black.woff2") format("woff2"), url("../fonts/PoufV02-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Pouf Black Extra Expanded';
	src: url("../fonts/PoufV0.2-BlackExtraExpanded.woff2") format("woff2"), url("../fonts/PoufV0.2-BlackExtraExpanded.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Urbanist';
	src: url("../fonts/Urbanist-ExtraBold.woff2") format("woff2"), url("../fonts/Urbanist-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Urbanist';
	src: url("../fonts/Urbanist-Regular.woff2") format("woff2"), url("../fonts/Urbanist-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Urbanist';
	src: url("../fonts/Urbanist-Bold.woff2") format("woff2"), url("../fonts/Urbanist-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Urbanist';
	src: url("../fonts/Urbanist-Light.woff2") format("woff2"), url("../fonts/Urbanist-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bubblegum';
	src: url("../fonts/Bubblegum.woff2") format("woff2"), url("../fonts/Bubblegum.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}